Publish Request #{{ publish_request.pk }}
========================================

by: {{ publish_request.requestor }} for {{ publish_request.resource }} in {{ publish_request.language }}

Details

Requestor        {{ publish_request.requestor }}
Resource         {{ publish_request.resource }}
Language         {{ publish_request.language }}
Checking Level   {{ publish_request.checking_level }}
Contributors     {{ publish_request.contributors }}
Create Date/Time {{ publish_request.created_at }}

