{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Request Publication{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Request a Publication
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        {% if form.instance.pk %}
                            <div>
                            <ul class="list-unstyled">
                                {% for la in form.instance.licenseagreement_set.all %}
                                    <li><a href="{{ la.document.url }}" class="btn btn-primary"><i class="fa fa-paperclip"></i> View</a> {{ la.document.name }}</li>
                                {% endfor %}
                            </ul>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Approve</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary pull-right">
                            Submit
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
