{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}uW Admin{% endblock %}

{% block body_base %}
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/publish/">Publish</a></li>
        <li>{{ lang }}</li>
    </ul>

    <h1>{% trans "Publishing" %} {{ lang }}</h1>
    <section>
        <div class="container">
        <div class="row-fluid">
            <div class="col-xs-8">
                <h2>Publish History</h2>
                {% if success %}
                  <div class="alert alert-success">
                      <a href="#" class="close" data-dismiss="alert">&times;</a>
                      <p>{{ success }}</p>
                  </div>
                {% endif %}
                {% if object_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Publish Date</th>
                            <th>Version</th>
                            <th>Level</th>
                            <th>Source</th>
                            <th>Checking</th>
                            <th>Contributors</th>
                            <th>Comments</th>
                            <th>Published By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in object_list  %}
                        <tr>
                            <td> {{ entry.publish_date }} </td>
                            <td> {{ entry.version }} </td>
                            <td> 
                            {% if entry.checking_level == 1 %}
                                <img src="https://api.unfoldingword.org/obs/jpg/1/checkinglevels/uW-Level1-32px.png"></img>
                            {% elif entry.checking_level == 2 %}
                                <img src="https://api.unfoldingword.org/obs/jpg/1/checkinglevels/uW-Level2-32px.png"></img>
                            {% elif entry.checking_level == 3 %}
                                <img src="https://api.unfoldingword.org/obs/jpg/1/checkinglevels/uW-Level3-32px.png"></img>
                            {% endif %}
                            </td>
                            <td> {{ entry.source_text }} @ {{ entry.source_version }}</td>
                            <td> {{ entry.checking_entity.all|join:", " }} </td>
                            <td> {{ entry.contributors.all|join:", " }} </td>
                            <td> <p> {{ entry.comments }} </p> </td>
                            <td>{{ entry.created_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>None, add one!</p>
                {% endif %}
            </div>
            <div class="col-xs-4">
                <h2>(Re) Publish</h2>
                <form action="" method="post" class="form-inline">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-comment"></i> Add</button>
                </form>
            </div>
        </div>
        </div>
    </section>

{% endblock %}
