{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Publish All{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li>Publish</li>
    </ul>

    <h1>{% trans "Publish OBS" %}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-with-table">
                    <h2 class="panel-title">Existing</h2>
                </div>
                {% if object_list %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Publish Date</th>
                                <th>Version</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k,v in object_list.items %}
                            <tr>
                                <td><a href="{% url "publish_language" k %}">
                                    {{ v.name }} ({{ k }})</a>
                                </td>
                                <td> {{ v.publish_date }}</td>
                                <td> {{ v.version }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">None, add one!</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right text-muted">
                        Enter language code to start a new publication
                    </span>
                    <h2 class="panel-title">
                        New
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-globe"></i> Publish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
