{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li>
            <a href="/contacts/"><i class="fa fa-group"></i> Contacts</a>
        </li>
        <li>
            <a href="/track/"><i class="fa fa-cogs"></i> Track</a>
        </li>
        <li>
            <a href="/publish/"><i class="fa fa-globe"></i> Publish</a>
        </li>
    </ul>
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "jquery/js/jquery-2.1.1.min.js" %}{% endblock %}"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            $("#contacts").autocomplete({
              source: "/api/contacts/",
              minLength: 2,
              select: function( event, ui ) { 
                  window.location.href = ui.item.value;
              }
            });
        });
        $(function() {
            $( "#id_date_started" ).datepicker();
        });
        $(function() {
            $( "#id_publish_date" ).datepicker();
        });
    </script>
    {% block extra_script %}{% endblock %}
{% endblock %}
