{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Track All{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{% url "home" %}">Home</a></li>
        <li>Track</li>
    </ul>

    <h1>{% trans "Track OBS" %}</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Existing</h2>
                </div>
                <ul class="list-group">
                    {% for k,v in object_list.items %}
                        <li class="list-group-item">
                            <a href="{% url "track_language" k %}">
                                {{ v }} ({{ k }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right text-muted">
                        Enter language code to start a new tracking
                    </span>
                    <h2 class="panel-title">
                        New
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-cogs"></i> Track</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
